.activities-act{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 4rem;
    width: 100vw;

}
.activities-act div{
    padding: 20px;
    max-width: 90%;
    margin: 2.5rem auto;
}
.activities-act .traffic{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    background: #e12dea;
    color: aliceblue;
}
.activities-act .traffic .date img{
    margin-top: 1rem;
    max-width: 90%;
}
.activities-act .herakuribike{
    background: rgba(0, 0, 0, 0.856);
    color: rgb(165, 220, 228);
}
.activities-act .filming{
    display: flex;
    flex-flow: column wrap;
    background: #29fa;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}
.activities-act .filming .date video{
    max-width: 90%;
    align-self: flex-start;
}
.activities-act div h2{
    margin-bottom: 20px;
}