.activities-act{
    position: relative;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
    flex-wrap: wrap;
    /* margin: 40px 50px; */
    /* height: 880px; */
    /* background: #ed2642; */
    /* top: 140px; */
    /* bottom: 50px; */
    margin-top: 5rem;
    /* vertical-align: middle; */
    width: 100vw;

}
.activities-act div{
    padding: 20px;
    max-width: 90%;
    margin: 3rem auto;
}
.activities-act .traffic{
    background: #e12dea;
    color: aliceblue;
}
.activities-act .herakuribike{
    background: rgba(0, 0, 0, 0.856);
    color: rgb(165, 220, 228);
}
.activities-act .filming{
    background: #29fa;
    color: aliceblue;
}
.activities-act div h2{
    margin-bottom: 20px;
}