@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif !important; */
    font-family: 'Poppins', sans-serif !important;
}
/* cards styles from mission values and visions */
html{

    scroll-behavior: smooth;
}
