.main-desc{
    position: relative;
    margin-top: 4.5rem;
    text-align: center;
    background: #e2a1df;
    max-width: 100vw;
    min-width: 90vw;
    padding: 20px;

}
.main-desc h2{
    margin-bottom: 20px;
}
.main-desc p{
    line-height: 28px;
}
#payment{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    margin: 50px auto;
    background: rgba(13, 44, 39, 0.76);
    overflow: hidden;
}
#payment form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center; 
    position: relative;  
    justify-content: center;
    width: 80%;
    margin: auto;
}
#payment form input{
    position: relative;
    display: block;
    margin: 10px 0;
    width: 100%;
    margin: 0.6rem auto;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
    border-bottom: 3px solid #e2a1df;
    padding: 0 20px;
}
#payment form #donorSubmit{
    padding: 0;
    background: #e2a1df;
    cursor: pointer;
}